@import "../../../../styles/sass/abstracts/variables.scss";
@import "../../../../styles/sass/abstracts/mixins/mediaquerymanager.scss";
@import "../../../../styles/sass/abstracts/mixins/mixins.scss"; 

.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.code-challenge-login {
    height: 100%;
    // width: 100%;
    align-items: center;
    display: flex;
    padding: 4rem 0;
    
    &-form {
        width: 40rem;
        display: block;
        margin: 0 auto;
        box-shadow: 0 9px 9px $code-challenge-color-gray-light-2;

        &__field {
            margin-bottom: 2rem;
        }

        &__toolbar {
            justify-content: center;
        }

        &__btn {
            width: 100%;
            background: $code-challenge-button-bg-color;
            color: $color-white;
            font-size: 2rem;
            margin: 0 0 1rem 0;
            padding: 0.6rem;

            &:disabled {
                cursor: not-allowed;
            }
        }

        &__fUsr {
            float: right;
            color:$code-challenge-footer-txt-color;
        }

        &__fPwd {
            color:$code-challenge-footer-txt-color;
        }

        &__loginLink {
            color:$code-challenge-footer-txt-color;
        }

        &-error {
            @include flex-center;
            background-color: $color-black;
            color: $color-white;
            border-radius: 1.5rem;
            margin-top: 1.6rem; 
            margin-bottom: 1.5rem;
            &__info {
                @include respond(phone) {
                    font-size: 1.2rem;
                }
            }
            &__msg {
                @include respond(phone) {
                    font-size: 1.2rem;
                }
            }
        }

        .mat-card {
            font: inherit;
        }
        .mat-icon {
            margin-right: 0.5rem;
        }

        .mat-input-element {
            padding-bottom: 0.5rem;
        }
        .mat-toolbar.mat-primary {
            background: $code-challenge-brand-theme;
            border-radius: 0.5rem 0.5rem 0 0;
            font: inherit;
            font-size: 2rem;
        }

        .mat-form-field {
            width: 100%;
            display: block;
        }

        .mat-raised-button {
            width: 100%;
        }
    }
}
