<div class="row">
  <mat-grid-list [cols]="gridListColumns" [rowHeight]="loginBreakpoint">
    <mat-grid-tile class="login-image">
      <img class="banner-image" src="../../../../../assets/images/login/login-page-image.png" alt="" />
    </mat-grid-tile>
    <mat-grid-tile class="code-challenge-login">
      <div class="code-challenge-login-form">
        <mat-toolbar class="code-challenge-login-form__toolbar" color="primary">Please login to continue</mat-toolbar>
        <mat-card>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="code-challenge-login-form__field">
              <mat-icon matPrefix>person_outline</mat-icon>
              <input autofocus type="text" matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="hasError(loginForm,'username', 'required')">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field class="code-challenge-login-form__field">
              <mat-icon matPrefix>lock_outline</mat-icon>
              <input [type]="hidePwd ? 'password' : 'text'" autocomplete="false" matInput placeholder="Password"
                formControlName="password">
              <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="hasError(loginForm,'password', 'required')">Password is required</mat-error>
            </mat-form-field>
            <mat-card @onClickTechErr (click)="onClickTechErr()" *ngIf="techErrorMsg"
              class="code-challenge-login-form-error">
              <p class="code-challenge-login-form-error__info">{{ errorTitle }}</p>
              <span class="code-challenge-login-form__msg">{{errorSubtitle}}</span>
            </mat-card>
            <button type="submit" [disabled]="!loginForm.valid" mat-raised-button
              class="code-challenge-login-form__btn">Login</button>
          </form>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>